$purple: #835AFD;

.button {
  border: none;
  border-radius: 8px;
  height: 50px;
  padding: 8px;
  background-color: $purple;
  color: #FFF;
  cursor: pointer;

  img {
    margin-right: 8px;
  }

  &.outlined {
    background: #FFF;
    border: 1px solid #835afd;
    color: #835afd;
  }

  &:not(:disabled):hover {
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}